nav {
  background-color: rgba(0,0,0,0.65) !important;
  position: fixed;
  z-index: +2;
}

body {
  padding-top: 150px;
}

#global-nav {
  position: fixed;
  top: 0;
  z-index: 9999;
  height: 150px;
  width: 100%;
  background: #324c5f;
  color: #fff;
  line-height: 150px;
    -webkit-transition: height .5s, line-height .5s; /* Safari */
    transition: height .5s, line-height .5s;
}

#first-image{
  Opacity: 0.2;
}

.react-parallax-bgimage{
  Opacity: 0.2;
}

.react-parallax{
  height: 500px;
}

.wide-screen-image{
  background-image: url('http://www.spotlighttoronto.com/_content/2011/foodanddrink/elitstoli/elitstoli_dec2011-05.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative;
}

.second-screen-image{
  background-image: url('https://static1.squarespace.com/static/54d00f4ee4b0488c074a60e4/t/5732731686db439cb3fe24de/1462924056974/background-services.jpg?format=1500w');
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative;
}

.third-screen-image{
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/90/dd/50/90dd505dd175df43371578343cda900f.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative;
}

.fourth-screen-image{
  background-image: url('https://thumbs.dreamstime.com/z/happy-barber-enjoying-work-young-trimming-client-s-sideburns-loving-his-job-39930460.jpg');
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  background-size: cover;
  position: relative;
}

#slider{
  margin-bottom: 0px;
}

.slides{
  height:600px !important;
}

.indicators{
  position:absolute !important;
  overflow: hidden;
  z-index: 500;
}

.slider .indicators .indicator-item.active{
  background-color: rgb(48, 189, 255) !important;
}

.pull-left {
    float: left!important;
}

.pull-right {
    float: right!important;
}

.site-title {
  display: inline-block;
  -webkit-transition: all .5s;
    transition: all .5s;
}

.scrolled-nav .site-title  {
  font-size: 16px;
}

.nav-list {
  list-style: none;
}

.nav-list li {
  list-style: none;
  display: inline-block;
  padding-left: 20px;
}

.hero-section,
.content-section {
  height: 500px;
  padding: 100px;
}

.hero-text,
.content-text {
  max-width: 550px;
}

.hero-section h1 {
  color: #333;
}

.hero-section p {
  color: #333;
}

.content-section {
  background: aqua;
}

.scrolled-nav {
  height: 60px !important;
  line-height: 60px !important;
}

.counter {
  width: 20px;
  height: 20px;
  background: black;
  color: #fff;
  position: fixed;
  top: 120px;
  right: 0;
}

footer {
  height: 200px;
  background: #333;
  color: #fff;
  padding-top: 40px;
}

.footer-image{
  position: absolute;
  height: 150px;
  transform: translate(-50%, -50%);
  left: 50%;
  margin-top: 85px;
}

.page-footer{
  margin-top: 0px !important;
}

.sitefont{
  font-family: 'Cormorant Unicase', serif;
}

IMG.displayed{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card{
  width:15%;
}

.section-break {
    border-top: 3px solid rgba(160, 160, 159, 1);
    border-bottom: 1px solid rgba(160, 160, 159, 1);
    padding: 3px 0 0 0;
}

/* PARALLAX COMPONENTS */

#title{
  margin-top: 0px;
  letter-spacing: 10px;
  font-weight: bold;
}

#contact{
  height:350px;
}

#no-margin{
  margin-bottom:0px;
}

#top-margin{
  margin-top: 100px;
}

/* END PARALLAX COMPONENTS*/

/* Collabsible Styles */

.img-size{
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Collapsible {
  background-color: white; }

.Collapsible__contentInner {
  padding: 0px;
  border: 1px solid #ebebeb;
  border-top: 0;
  height: 300px; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  margin-bottom:0px;
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #00ac9d;
  color: white; }
  .Collapsible__trigger:after {
    font-family: 'FontAwesome';
    content: '\f103' !important;
    position: absolute;
    right: 10px;
    top: 10px;
    display: block;
    transition: transform 300ms; }
  .Collapsible__trigger.is-open:after {
    transform: rotateZ(180deg); }

/* End Collapsible Styles */


/*
.nav {
    background-color:transparent;
    color:#fff;
    transition: all 0.25s ease;
    position:fixed;
    top:0;
    width:100%;
    background-color:#ccc;
    padding:1em 0;

}

.nav.past-main {
    background-color:#fff;
    color:#444;
}

#main {
  height:500px;
  background-color:red;
}

#below-main {
  height:1000px;
  background-color:#eee;
}
*/
